* {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}
body {
  margin: 0;
  background-color: #222;
}
#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
